<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" mlsns:layout="http://www.ultraq.net.nz/thymeleaf.layout">
<head>
	<meta charset="UTF-8">
	
	<!-- Bootstrapの設定 -->
	<link th:href="@{/webjars/bootstrap/3.7.7-1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstarap/3.7.7-1/js/bootstrap.min.js}"></script>
	
	<!-- Bootstrapの読込 -->
	
	<title>Insert title here</title>
</head>
<body>

</body>
</html>